- project = project || @project
.git-clone-holder.input-group
  .input-group-addon.git-protocols
    .input-group-btn
      = ssh_clone_button(project)
    .input-group-btn
      = http_clone_button(project)
    - if alternative_kerberos_url?
      .input-group-btn
        = kerberos_clone_button(project)
  = text_field_tag :project_clone, default_url_to_repo(project), class: "js-select-on-focus form-control", readonly: true
  .input-group-btn
    = clipboard_button(clipboard_target: '#project_clone')
